form {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

h2{
    font-size: 2em;
    font-weight: 700;
    font-family: cursive;
    margin-left: 1em;
    color: #003d83;
    text-decoration: underline;
}

.user-list {
    list-style-type: none;
    padding: 0;
}

.user-list li {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-list button {
    margin-left: 10px;
    background-color: #007bff;
}

.user-list button:hover {
    background-color: #0056b3;
}